<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper">

    <resultMap id="resultMap" type="com.example.demo.entity.User" >
        <id  column="userId" property="userId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="age" property="age" />
    </resultMap>

    <select id="listPage" parameterType="User" resultMap="resultMap">
        SELECT  * FROM User1
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.User" >
        insert into User1 (userId, name, password, age)
        values (#{userId}, #{name}, #{password}, #{age})
    </insert>

    <select id="getByUserId" parameterType="com.example.demo.entity.User" resultType="com.example.demo.entity.User">
        SELECT * FROM gpallas.dbo.wp_person WHERE userId = #{userId}
    </select>


</mapper>